@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import "variables";
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
    background-color: $fondo;
}
.title-seccion{
    font-size: 18px;
    margin: 15px;
    font-style: bold !important;
    color: $titulos;
}
.title-book-section, .titulo__tabla{
    color: $titulos;
}
.navbar-brand{
    color: $titulos !important;
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.rounded{
    max-width: 240px;
    max-height: 360px;
}
.card-img-top{
    margin: 5px;
    max-width: 250px;
    max-height: 400px;
}
.card-header{
    text-align: center;
    font-weight: bold;
}
.btn-ecommerce{
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: flex-end;
}
.medioDePago__img, .redesSociales__img{
    max-width: 35px;
    max-height: 35px;
    text-decoration: none;
    flex-direction: column;
}
.medioDePago__img{
    max-width: 50px;
    max-height: 50px;
    flex-direction: column;
}
footer{
    margin-top: 15px;
    border-top: 2px solid $linediv;
}
.medios__pago, .redes__sociales{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title__footer{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: $titulos;
}
.card, .navbar-bg{
    background-color: $fondo;
}
.navbar-line{
    border-bottom: 2px solid $linediv;
}
.title-book-section{
    margin-top: 15px;
}
.detalle{
    margin-top: 15px;
}
.btn__ecommerce{
    color: white;
    background-color: $titulos;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .video__book {
      display: none;
    }
    .table-det{
        display: none;
    }
}
